########################################################
# This is the config file for dehydrated when launched #
# via confconsole on TurnKey GNU/Linux.                #
#                                                      #
# It is loaded by the dehydrated-wrapper script.       #
#                                                      #
# For more information about the confconsole Let's     #
# Encrypt plugin and/or the dehydrated-wrapper please  #
# see:                                                 #
# /usr/share/doc/confconsole/docs/Lets_Encrypt.rst     #
# or:                                                  #
# https://www.turnkeylinux.org/docs/letsencrypt        #
#                                                      #
# For more comprehensive example conf, see             #
#  /usr/share/doc/dehydrated/examples/config           #
########################################################

BASEDIR=/var/lib/dehydrated
WELLKNOWN="${BASEDIR}/acme-challenges"
DOMAINS_TXT="/etc/dehydrated/confconsole.domains.txt"
HOOK="/etc/dehydrated/confconsole.hook.sh"
CHALLENGETYPE="http-01"

# required for DNS-01 only - ignored by HTTP-01 challenge
PROVIDER='auto'
LEXICON_CONFIG_DIR='/etc/dehydrated'

# staging server for testing - leave commented for production
#CA="https://acme-staging-v02.api.letsencrypt.org/directory"
