Source: confconsole
Section: misc
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 dh-systemd,
Standards-Version: 4.0.0

Package: confconsole
Architecture: all
Depends:
 python (>= 2.4),
 python-dialog (>= 2.7-1turnkey+4),
 turnkey-pylib,
Recommends:
 authbind,
 dehydrated,
 di-live,
 kbd,
 ${misc:Depends},
 python-bottle,
 resolvconf,
Description: TurnKey GNU/Linux Configuration Console
