#! /usr/bin/make -f

progname=$(shell awk '/^Source/ {print $$2}' debian/control)
buildroot=debian/$(progname)

clean:
	dh_clean

build:
	true

install: 
	dh_testdir
	dh_testroot
	dh_clean -k
	mkdir -p $(buildroot)/usr/bin
	dh_link usr/lib/$(progname)/confconsole.py usr/bin/confconsole
	dh_link etc/$(progname) usr/lib/$(progname)/conf

binary-indep: install
	dh_testdir
	dh_testroot
	dh_install
	dh_installinit -r --no-start -- start 99 2 .
	dh_installdocs docs/
	dh_installdeb
	dh_gencontrol
	dh_md5sums 
	dh_builddeb

binary-arch: install

binary: binary-indep binary-arch
.PHONY: clean binary-indep binary-arch binary install
