########################################################
# This is the config file for dehydrated when launched #
# via confconsole on TurnKey GNU/Linux.                #
#                                                      #
# It is loaded by the dehydrated-wrapper script.       #
#                                                      #
# For more information about advanced usage of the     #
# confconsole Let's Encrypt plugin and/or the          #
# dehydrated-wrapper please see:                       #
# /usr/share/doc/confconsole/docs/Lets_Encrypt.rst     #
# or:                                                  #
# https://www.turnkeylinux.org/letsencrypt#advanced    #
########################################################

BASEDIR=/var/lib/dehydrated
WELLKNOWN="${BASEDIR}/acme-challenges"
DOMAINS_TXT="/etc/dehydrated/confconsole.domains.txt"
HOOK="/etc/dehydrated/confconsole.hook.sh"

