########################################################
# This is the config file for dehydrated when launched #
# via confconsole on TurnKey GNU/Linux.                #
#                                                      #
# It is loaded by the dehydrated-wrapper script.       #
#                                                      #
# For more information about the confconsole Let's     #
# Encrypt plugin and/or the dehydrated-wrapper please  #
# see:                                                 #
# /usr/share/doc/confconsole/docs/Lets_Encrypt.rst     #
# or:                                                  #
# https://www.turnkeylinux.org/docs/letsencrypt        #
########################################################

BASEDIR=/var/lib/dehydrated
WELLKNOWN="${BASEDIR}/acme-challenges"
DOMAINS_TXT="/etc/dehydrated/confconsole.domains.txt"
HOOK="/etc/dehydrated/confconsole.hook.sh"
CHALLENGETYPE="http-01"

# Let's Encrypt staging server - useful for testing
CA="https://acme-staging-v02.api.letsencrypt.org/directory"
CA_TERMS="https://letsencrypt.org/documents/LE-SA-v1.3-September-21-2022.pdf"
